<div class="background">
    <div fxLayoutAlign="center center" class="container w-25 m-auto p-6">
        <form>
            <div class="card bg-black text-white">
                <div class="card-header text-center">Login</div>
                <div class="card-body">

                    <label class="text-white" for="floatingInput">E-Mail Adresse</label>
                    <input class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
</div>






<!--div class="container-md">
    <form class="form-signin w-100 m-auto">
        <div class="card">
            <div class="card-header">
                <img class="mb-4" src="../../../assets/pictures/milan_logo.png" alt="" width="75" height="75">
                <h5>Login</h5>
            </div>
            <div class="card-body">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </form>
</div-->