<app-navbar></app-navbar>
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <div class="row justify-content-between">
        <div class="col-4">
          <h5>Reisekosten</h5>
        </div>
        <div class="col-1">
          <h5>{{ myTravel.id }}</h5>
        </div>
      </div>
    </div>
    <form [formGroup]="myTravelForm" (ngSubmit)="submit()">
      <div class="card-body">
        <div class="row mb-2">
          <!--Start Datum-->
          <div class="col">
            <label class="form-label">Beginn der Reise</label>
            <input
              class="form-control"
              type="date"
              formControlName="startDate"
              useValueAsDate
              [value]="myTravel.startDate | date: 'yyyy-MM-dd'"
              (input)="dateChanged($event, true)"
            />
          </div>
          <!--Start Time-->
          <div class="col">
            <label class="form-label">Uhrzeit</label>
            <input
              class="form-control"
              type="time"
              formControlName="startTime"
              [value]="myTravel.startDate | date: 'HH:mm'"
            />
          </div>

          <!--End Datum-->
          <div class="col">
            <label class="form-label">Ende der Reise</label>
            <input
              class="form-control"
              type="date"
              formControlName="endDate"
              useValueAsDate
              [value]="myTravel.endDate | date: 'yyyy-MM-dd'"
              (input)="dateChanged($event, false)"
            />
          </div>
          <!--End Time-->
          <div class="col">
            <label class="form-label">Uhrzeit</label>
            <input
              class="form-control"
              type="time"
              formControlName="endTime"
              [value]="myTravel.endDate | date: 'HH:mm'"
            />
          </div>
        </div>

        <div class="row mb-2">
          <!--Customer-->
          <div class="col">
            <label class="form-label">Kunde</label>
            <select
              class="form-control"
              (change)="changeCustomer($event)"
              formControlName="customer"
              [hidden]="hideNewCustomer"
            >
              <option value="" disabled="disabled">--Kundenliste--</option>
              <option *ngFor="let customer of customerList">
                {{ customer.name }}
              </option>
              <option value="newCustomer"><strong>Neuer Kunde</strong></option>
            </select>
            <input
              class="form-control"
              formControlName="customerNew"
              [hidden]="!hideNewCustomer"
            />
          </div>

          <!--City-->
          <div class="col">
            <label class="form-label">Ort</label>
            <input
              class="form-control"
              formControlName="city"
              [hidden]="hideNewCustomer"
            />
            <input
              class="form-control"
              formControlName="cityNew"
              [hidden]="!hideNewCustomer"
            />
          </div>

          <!--Country-->
          <div class="col">
            <label class="form-label">Land</label>
            <input
              class="form-control"
              formControlName="country"
              [hidden]="hideNewCustomer"
            />
            <input
              class="form-control"
              formControlName="countryNew"
              [hidden]="!hideNewCustomer"
            />
          </div>
        </div>

        <div class="row mb-2">
          <!--Grund-->
          <div class="col">
            <label class="form-label">Grund</label>
            <input class="form-control" formControlName="reason" />
          </div>
        </div>

        <ng-container formArrayName="spends">
          <ng-container *ngFor="let spend of spends.controls; let i = index">
            <div class="row mb-2" [formGroupName]="i">
              <!--Type-->
              <div class="col-3">
                <label class="form-label">Art</label>
                <input class="form-control" formControlName="type" />
              </div>
              <!--Betrag-->
              <div class="col-3">
                <label class="form-label">Betrag</label>
                <input class="form-control" formControlName="value" />
              </div>
              <!--Datum-->
              <div class="col-3">
                <label class="form-label">Datum</label>
                <input
                  class="form-control"
                  type="date"
                  formControlName="spendDate"
                  useValueAsDate
                />
              </div>

              <!--Button entfernen-->
              <div class="col spend-button">
                <button
                  type="button"
                  (click)="deleteSpend(i)"
                  class="btn btn-danger"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <div class="row">
          <div class="spend-button-add">
            <button type="button" class="btn btn-success" (click)="addSpend()">
              <i class="fa-solid fa-circle-plus"></i>
              Hinzufügen
            </button>
          </div>
        </div>

        <div class="row mb-2">
          <!--Paid Flags-->
          <div class="col">
            <!--Is Paid-->
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="isPaid"
              />
              <label class="form-label">Bezahlt</label>
            </div>
            <!--Is Submitted-->
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="isSubmitted"
              />
              <label class="form-label">Eingereicht</label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="footer-button">
          <button
            type="submit"
            class="btn btn-primary btn-footer"
            [disabled]="myTravelForm.invalid && 0"
          >
            <i class="fa-solid fa-floppy-disk"></i>
            Speichern
          </button>
          <button
            type="button"
            class="btn btn-secondary btn-footer"
            [disabled]="myTravelForm.invalid && 0"
            (click)="back()"
          >
            <i class="fa-solid fa-circle-arrow-left"></i>
            Zurück
          </button>
        </div>
      </div>
    </form>
  </div>
  <div>
    {{ myTravelForm.value | json }}
  </div>
</div>
