<app-navbar></app-navbar>
<div class="container" *ngIf="countries && datesComplete; else loading">
  <div class="list-group m-2" *ngFor="let country of countries">
    <div
      href="#"
      routerLink="/editCountry/{{ country.id }}"
      class="list-group-item list-group-item-action edit"
    >
      <div class="d-flex w-100 justify-content-end">
        <small>{{ country.id }}</small>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <div class="col-4">
          <p class="mb-1">{{ country.name }}</p>
        </div>
        <div class="d-flex w-100 justify-content-end"></div>
      </div>
      <div class="row">
        <div class="col">
          <small>Tagessatz: {{ country.rate }}</small>
        </div>
        <div class="col">
          <small>An-Abreise: {{ country.halfRate }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div fxLayoutAlign="center center" class="container loading">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
