<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="row">
    <!--Anzahl Reise-->
    <div class="col-12 col-lg-6 col-xl">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h6 class="text-uppercase text-muted mb-2">
              Anzahl Reisen letzten 3 Monate
            </h6>
            <span>6</span>
          </div>
        </div>
      </div>
    </div>
    <!--Offener Betrag-->
    <div class="col-12 col-lg-6 col-xl">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h6 class="text-uppercase text-muted mb-2">Ausstehender Betrag</h6>
            <span>345.85</span>
          </div>
        </div>
      </div>
    </div>
    <!--Letzte Reise-->
    <div class="col-12 col-lg-6 col-xl">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h6 class="text-uppercase text-muted mb-2">
              Kunde der letzten Reise
            </h6>
            <div class="cust-button-group">
              <span>BANK-now</span>
              <button class="btn btn-success btn-sm btn-dashboard-card">
                Reise erfassen
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Timer-->
    <div class="col-12 col-lg-6 col-xl">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h6 class="text-uppercase text-muted mb-2">Datum</h6>
            <span>{{ time | async }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">Auszahlungen der letzten Monate</div>
        <div class="card-body">
          <app-dashboard-column></app-dashboard-column>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">Test</div>
        <div class="card-body">
          <app-dashboard-line></app-dashboard-line>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">Kunden der letzten Monate</div>
        <div class="card-body">
          <app-dashboard-pie></app-dashboard-pie>
        </div>
      </div>
    </div>
  </div>
</div>
