.header {
  margin: 10px;
}

.card {
  margin-top: 20px;
}

.cust-button-group {
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
}

.btn-dashboard-card {
  height: 23px;
  padding-top: 0.5px;
}
