.header {
  display: flex;
  justify-content: center;
}

.form {
  .col-12 {
    padding-bottom: 10px;
  }
}

.profile {
  width: 20%;
  height: 20%;
}

.Setting {
  display: flex;
  flex-direction: column;
}
